<h2 align="center">What can you do at Xenoverse Gaming?</h2>
<p align="center">At Xenoverse Gaming, you can play various games from every latest system of the big three companies. To see the list of games, bisit <a href="/games">this page here</a>.</br>
You may also participate in various tournaments held for the competitive games we have here. To find the current planned tournaments, <a href="/tournaments">go here</a>.</p>
