<div align="center">
  <p>From here, admins can click to view the data for users, along with their tourney registrations and feedback.</p>
</div>
</br>
<div align="center">
  <a href="/users">User Data</a> --- <a href="/userfdbk">Feedback</a> --- <a href="/usertnmt">Tourneys</a>
</div>
