<h2 align="center">Have any concerns or comments? Give us some feedback!</h2>
<form align="center" class="form-horizontal" role="form" action="/fdbk?form=feedback" method="POST">
	<input type="hidden" name="_csrf" value="{{csrf}}">
	<div class="form-group">
		<label for="fieldName" class="col-sm-2 control-label">Name:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" required id="fieldName" name="name">
		</div>
	</div>
	<div class="form-group">
		<label for="fieldEmail" class="col-sm-2 control-label">Email:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" required id="fieldEmail" name="email">
		</div>
	</div>
	<div class="form-group">
		<label for="fieldComment" class="col-sm-2 control-label">Comment:</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" required id="fieldComment" name="comment">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>
