<p>here is the list of games available at Xenoverse Gamin.</p>
<div>
  <ul>
    <li>Super Smash Bros. Ultimate</li>
    <li>Mario Kart 8 Deluxe</li>
    <li>Splatoon 2</li>
    <li>Dragonball FighterZ (all systems)</li>
    <li>Super Mario 3D All-Stars</li>
    <li>Super Mario Oddysey</li>
    <li>The Legend of Zelda: Breath of the Wild</li>
    <li>Hyrule Warriors: Age of Calamity</li>
    <li>Crash Bandicoot 4: It's About Time</li>
    <li>Final Fantasy 15</li>
  </ul>
</div>
