<h3 align="center">Thank you for registering for the tournament! You may either click the button below to register for another, or continue browsing the website.</h3>
<form align="center" action="/tourneyreg">
	<button type="submit">Register for Tournament</button>
</form>
