<h1 align="center">User Feedback</h1>
</br>
<div align="center">
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Comment</th>
    </tr>
    {{#each rows}}
    <tr>
      <td>{{ID}}</td>
      <td>{{NAME}}</td>
      <td>{{EMAIL}}</td>
      <td>{{COMMENT}}</td>
    </tr>
    {{/each}}
  </table>
</div>
